
*,*:before,*:after {
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#change-ru-button{
    text-align: justify;
    font-size: 20px;
    color: #b7b7b7;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0 0 5px;
}
.container {
    width: 1200px;
    margin:0 auto;
}
.container__nutrition {
    padding-left: 280px;
}
.btn {
    min-width: 200px;
    height: 50px;
    padding: 0 15px ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #d82512;
    transition: background-color .2s ease;
}
.btn:hover {
    background-color: #971306;
}
/* Header start */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.7s
}

header.with__bg {
    background: black;
    transition: all 0.7s;
}


.header_wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__block {
    width: 20%;
}
.header__logo {
    display: flex;
}
.header__logo img {
    height: 45px;
}
.nav {
    display: flex;
}
.nav__link {
    margin-right: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}
.nav__link:after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease;
}
.nav__link:last-child {
    margin-right: 0;
}
.nav__link.active:after {
    opacity: 1;
}
.nav__link:hover:after {
    opacity: 1;
}
.header__lng {
    display: flex;
    justify-content: flex-end;
}
.header__lng-link {
    margin-right: 8px;
    font-weight: 600;
    color: #b7b7b7;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease;
}
.header__lng-link:last-child {
    margin-right: 0;
}
header__lng-link:hover {
    color: white;
}
.header__lng-link.active {
    color: #fff;
}
/* Header end */
/* MAIN */
.section {
    margin-bottom: 100px;
}
/* Intro start */
.intro {
    background: url('../img/intro_bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
.intro:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content: '';
}
.intro__content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.intro__title {
    max-width: 790px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 1.5;
}
/* Intro end */

/* About start */
.about {
    padding: 115px 0;
    background-color: #000000;
}
.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__block {
    max-width: 505px;
}
.about__text {
    margin: 35px 0 40px;
    font-weight: 600;
    color: #b7b7b7;
    letter-spacing: 0.23em;
}
.about__link {
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.about__link:hover {
    text-decoration: none;
}
.block__title {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
}
.about__img {
    width: 440px;
    height: 500px;
}
/* About end */
/* MOTIVATION */
/* Intro__Motivation start */
.intro__motivation {
    background: url('../img/intro_motivation.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
.intro__motivation:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content: '';
}
.intro__motivation__content {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.intro__motivation__title {
    text-align: center;
    max-width: 790px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 1.5;
}
/* Intro__Motivation end */
/* Motivation start */
.motivation {
    padding: 100px 0;
    background-color: #ffffff;
}
.motivation__wrapper {
    display: grid;
    align-items: center;
    justify-content: space-around;
}
.motivation__block {
    max-width: 505px;
}
.slogan__motivation__text {
    font-weight: 900;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.subtext__motivation__text {
    font-weight: 600;
    font-size: 24px;
    padding-block: 80px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.citation__motivation__text {
    color: #B7B7B7;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.23em;
}
.about__img {
    height: 340px;
}
/* Motivation end */
/* Info__motivation start */
.info__motivation {
    padding: 115px 0;
    background-color: #191919;
}
.motivation__text {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding-block: 80px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
/* Info__motivation end */
/* SPORTS_NUTRITION */
/* Intro_nutrition start */
.intro__nutrition {
    background: url('../img/intro_nutrition.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
.intro__nutrition:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content: '';
}
.intro__nutrition__content {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.subtext__nutrition__text {
    position: absolute;
    width: 580px;
    height: 80px;
    left: calc(50% - 580px/2);
    top: 750px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.intro__nutrition__title {
    position: absolute;
    width: 463px;
    height: 60px;
    left: calc(50% - 463px/2 + 0.5px);
    top: 650px;
    font-size: 60px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.nutrition__img {
    margin-right: 150px;
    width: 750px;
    height: 520px;
    left: 1000px;
    top: 1030px;
}
/* Intro_nutrition end */
/* Table start */
.info__table {
    padding: 200px 0;
    background-color: #191919;
}
.table__wrapper {
    display: grid;
    align-items: center;
    justify-content: space-around;
}
.table__block {
    max-width: 1000px;
}
table.table__main {
    padding-top: 100px;
    border-spacing: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #191919;
}
th {
    padding: 10px 20px;
    background: #fff;
    color: #000000;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
td:first-child {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
td:nth-child(2){
    text-align: left;
}
/* Table end */
/* Training start */
.intro__training {
    background: url('../img/intro_training.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
.block__title {
    padding-top: 100px;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.15em;
}
.block__link {
    margin-bottom: 60px;
    display: inline-block;
    letter-spacing: 0.15em;
    color: white;
}
.block__link:hover {
    text-decoration: none;
}
.training__wrapper {
    display: flex;
    margin: 0 -10px;
}
.training__block {
    width: 33.33%;
    padding: 0 10px;
}
.training__item {
    text-decoration: none;
}
.training__item:hover .training__content-item {
    opacity: 1;
}
.training__item:hover .training__content:after {
    opacity: .7;
}
.training__content {
    height: 500px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.training__content:after {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transition: opacity .2s ease;
}
.training__content-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity .2s ease;
}
.training__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d82512;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.training__title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.23em;
    color: white;
}
.training__text {
    max-width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.23em;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
/* Training end */
/* Footer start */
.footer {
    background-color: white;
}
.footer__wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    letter-spacing: 0.15em;
}
.footer__soc {
    display: flex;
}
.footer__soc-link {
    margin-right: 20px;
    text-decoration: none;
}
.footer__soc-link:last-child {
    margin-right: 0;
}
.footer__soc-link img {
    height: 25px;
}
/* Footer end */
